<settings>
 <localRepository>C:\Users\duhui\.m2\repository</localRepository>
 <servers>
    <server>
       <id>archiva.internal</id> 
       <username>admin</username> 
       <password>admin123</password> 
    </server>

    <server>
       <id>archiva.snapshots</id> 
       <username>admin</username> 
       <password>admin123</password> 
    </server>
 </servers>

 <mirrors>
   <mirror>
     <id>alimaven</id>
     <name>aliyun maven</name>
     <url>https://maven.aliyun.com/repository/central</url>
     <mirrorOf>central</mirrorOf>        
   </mirror>
 </mirrors></settings>