<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射文件，映射到对应的SQL接口 -->
<mapper namespace="com.sanhui.synitil.workflow.dao.AcMapper">

	<!--返回的结果集，用于关联实体类属性和数据库字段 -->
	<!--如果实体类属性和数据库属性名保持一致，就不需要javaType和jdbcType（必须大写）属性 -->
	<resultMap id="Employee_resultMap" type="com.sanhui.synitil.workflow.dto.AcDto">
		<result column="ID" property="id" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="NAME" property="name" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" javaType="java.lang.String"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- 查询数据 -->
	<!-- 入参定义：在接口定义中使用@Param注解(单参/多参都可使用) -->
	<!-- 语句末尾不能有分号：ORA-00911: invalid character -->
	<select id="getUserById" resultMap="Employee_resultMap"
		parameterType="com.sanhui.synitil.workflow.dto.AcDto">
		select t.id,t.name from duhui t where 1=1
		<if test='id !=null and id!= "" '>
			and id=#{id}
		</if>
		order by t.name
	</select>
	<select id="getUserByName" resultMap="Employee_resultMap"
		parameterType="com.sanhui.synitil.workflow.dto.AcDto">
		select t.id,t.name from duhui t where 1=1
		<if test='name !=null and name!= "" '>
			and name=#{name}
		</if>
		order by t.name
	</select>
	<update id="updateUser" parameterType="com.sanhui.synitil.workflow.dto.AcDto">
		update duhui set name=#{name},email=#{email} where 1=1
		<if test='id !=null and id!= "" '>
			and id=#{id}
		</if>
	</update>
	<insert id="saveUser" parameterType="com.sanhui.synitil.workflow.dto.AcDto">
		insert into
		duhui(id,name,email) values(#{id},#{name},#{email})
	</insert>
	<delete id="deleteUser" parameterType="com.sanhui.synitil.workflow.dto.AcDto">
		delete from duhui where 1=1
		<if test='id !=null and id!= "" '>
			and id=#{id}
		</if>
	</delete>
</mapper>